<div class="narrow-container panel">
  <h1 class="ds-h1">Calculate EFIN</h1>

  <form>
    <div class="alerts"></div>

    <div class="ds-u-clearfix">
      <label class="ds-c-label" for="household">
        Household size
      </label>

      <input name="household" class="ds-c-field block" />
    </div>

    <div class="ds-u-clearfix">
      <label class="ds-c-label" for="income">
        Income
      </label>

      <input name="income" class="ds-c-field block" />
    </div>

    <hr />

    <div class="ds-u-clearfix">
      <button id="button" type="submit" class="ds-c-button block">Submit</button>
    </div>
  </form>
</div>
