<div class="narrow-container panel">
  <h1 class="ds-h1">Calculate EFIN</h1>

  <form>
    <div class="alerts"></div>

    <div class="main-input">
      <div class="ds-u-clearfix">
        <label class="ds-c-label" for="household">
          Household size
        </label>

        <input id="household"
               name="household"
               class="ds-c-field block"
               autofocus />
      </div>

      <div class="ds-u-clearfix">
        <label class="ds-c-label" for="income">
          Income
        </label>

        <input id="income"
               name="income"
               class="ds-c-field block" />
      </div>

      <hr />

      <div class="ds-u-clearfix">
        <button id="button" type="submit" class="ds-c-button block">Submit</button>
      </div>
    </div>

    <div class="result" style="display: none;">
      <h3 class="ds-h3">Calculated EFIN:</h3>
      <code class="efin"></code>

      <hr />

      <div class="ds-u-clearfix">
        <button id="resetBtn" class="ds-c-button block">Recalculate</button>
      </div>
    </div>
  </form>
</div>
